// Navigation

#topmenu {
  width: 570px;
  margin: 0 auto;

  li {
    float: left;
    padding: 1em 0;
    position: relative;
    margin-bottom: 0;
	}

  li:last-child {
    border-right: 0;
	}

  li a {
    padding: 1em;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
	}

  li a:hover {
    color: $light-grey;
  }

  li ul {
    display: none;
    position: absolute;
	}

  li:hover ul {
    display: block;
    margin: 1em 0 0;
  } 
}// Navigation

