.vehicles {
	width: 70%;
	float: left;
	padding: 1.5em 2em;

	.body {
		width: 100%;
	}
}

.vehicle {
	clear: both;
	position: relative;
}

.vehicle-img {
	width: 40%;
	float: left;
}

.vehicle-details {
	width: 60%;
	float: right;
	padding-left: 1em;
	position: relative;

	.item {
		padding-bottom: 1em;
	}

	.label {
		font-weight: bold;
		width: 100px;
		display: block;
	}

	.price {
		position: absolute;
		top: 63px;
		right:0;
		font-size: 1.5em;
		background: $burnt-orange;
		padding: 1em;
		color: #fff;
	}

	.contact {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.5em;
		background: #fff;
		padding: 1em;
	}
}

.sold:after {
	content: "sold";
	text-transform: uppercase;
	padding: .5em 1em;
	border: 3px solid red;
	font-size: 3em;
	background: $burnt-orange;
	position: absolute;
	bottom: 40px;
	right: 0;
	transform: rotateZ(-30deg);
}

.vehicle-view {
	margin: 2em 4em;
	float: left;
}

