// grid / layout

.has-image-right {
	img {
		float: right;
		width: 60%;
	}
}

.text-padding {
	padding: 1.5em;
}

.clear {
	clear: both;
	display: block;
}

.fifty {
	width: 50%;
	float: left;
}

.third {
	width: 33%;
	float: left;
}

.main-column {
	width: 77%;
	float: left;
}

.sidebar {
	width: 23%;
	float: right;
}