// grid / layout

.has-image-right {
	img {
		float: right;
		width: 60%;
	}
}

.text-padding {
	padding: 1.5em;
}

.clear {
	clear: both;
	display: block;
}

.fifty {
	width: 100%;
	float: left;
}

@media screen and (min-width: $first-break) {
	.fifty {
		width: 50%;
	}
}

.third {
	width: 100%;
	float: left;
}

@media screen and (min-width: $first-break) {
	.third {
		width: 33%;
	}
}

.main-column {
	width: 100%;
	float: left;
}

@media screen and (min-width: $first-break) {
	.main-column {
		width: 77%;
	}
}

.sidebar {
	width: 100%;
	float: right;
}

@media screen and (min-width: $second-break) {
	.sidebar {
		width: 23%;
	}
}
