// grid



// one
.one-of-four {
	width: 80%;
	margin-left: 10%;
}

@media screen and (min-width: 500px) {
	// two
	.one-of-four {
		width: 47%;
		margin-left: 2%;
	}
}


@media screen and (min-width: 800px) {
	// four 
	.one-of-four {
		width: 20%;
		margin-left: 4%;
	}
}

.has-image-right {
	img {
		float: right;
		width: 60%;
	}
}

.text-padding {
	padding: 1.5em;
}

.clear {
	clear: both;
}

.fifty {
	width: 50%;
	float: left;
}

.third {
	width: 33%;
	float: left;
}

.main-column {
	width: 77%;
	float: left;
}