.footer {
	background: #000;
	width: 100%;
	height: auto;
	border-top: 6px solid $burnt-orange;
	color: #fff;
	float: left;
	clear: both;

	.h4 {
		color: #fff;
	}
}

.right-align,
.centre-align {
	text-align: left;
	float: left;
}

@media screen and (min-width: $first-break) {
	.footer {
		background: url('../images/header-bg_2.jpg');
		height: 185px;
	}
	.right-align {
		color: $dark-blue;
		float: right;

		h2 {
			color: $dark-blue;			
		}
	}
	.centre-align {
		text-align: center;
	}
}

.colophon {
	float: right;
	padding-top: 3.5em;
	margin-bottom: 0;
}

.footer-info {

	.label {
		float: left;
		width: 50%;
	}

	.data {
		float: right;
		width: 50%;
	}
}


