.page-header {
	background: url('../images/header-bg_2.jpg') no-repeat;
	height: 178px;
	padding: 10px 20px;
	border-bottom: 6px solid $burnt-orange;

	.header__logo {
		background: url('../images/logo_4.png');		
		width: 300px;
		height: 97px;
		margin: 0 auto;
	}

	.header__contact {
		padding-top: .7em;

		h2 {
			font-size: 1.8em;
			line-height: 0em;
			text-align: center;
			color: #fff;
			text-shadow: 1px 1px 1px #333;
		}
		h2:before {
			font-family: fontAwesome;
			content: '\f098';
			color: $burnt-orange;
			font-size: 1.6em;
			padding-right: 10px;
			position: relative;
			top: 5px;
			text-shadow: 1px 1px 1px #333;
		}
	}
}